<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="../css/login.css" th:href="@{/css/login.css}" />
</head>
<body>
	<div class="container">
		<form class="form-signin" th:action="@{/j_spring_security_check}" method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" class="form-control" placeholder="Email address" id="j_username" name="j_username" />
			<input type="password" class="form-control" placeholder="Password" id="j_password" name="j_password"/> 
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
</body>
</html>